<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <center><h1>Sign Up</h1></center>
            <form action="/register" method="post">
                <div>
                    <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>

                <div>
                    <label for="email" class="form-label">Email: </label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email">
                </div>
               
                <div>
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Password">
                </div>
                <button type="submit" >Sign Up</button>
                <p>Already have a account , <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>