<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products/<%=find._id%>?_method=PATCH" method="post" style="border: 2px solid black;">
        
        <div>
            <label for="email">Name: </label><br>
            <input type="text" name="email" id="email" placeholder="Enter Your Name" value="<%=find.name%>">
        </div>
        <div>
            <label for="text">Text: </label><br>
            <input type="text" name="text" id="text" placeholder="Enter Your Text" value="<%=find.text%>">
        </div>
        <br>
        <button type="submit">Edit</button>

    </form>
    
</body>
</html>